.container{
    display: flex;
    flex-direction: column;
    background: #121212;
    color: blue;
    gap: 2rem;
    padding: 5% 4%;
}
.div1>:nth-child(1){
    color: var(--primary-color, #228C22);
text-align: center;
font-family: K2D;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.div2{
    display: flex;
    justify-content: space-around;
}
.sub{
    display: flex;
    flex-direction: column;
    
}

.sub>img{
    height: 300px;
    width: 266px;
}

.middle{
    height: 300px;
    width: 266px;
    transform: scale(1.1);
  
    /* -webkit-transform-origin-y: top; */
}

.sub>:nth-child(2){
    color: var(--grey-tone-g-3, #B3B3B3);
font-family: K2D;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* margin-top: 2rem; */
}
.sub2{
    display: flex;
    flex-direction: column;
  
}
.sub2>:nth-child(2){
    color: var(--grey-tone-g-3, #B3B3B3);
font-family: K2D;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 2rem;
}

@media screen and (max-width:768px){
    .div2{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        align-items: center;
        justify-content: center;
    }
    .sub>img{
        height: 266px;
        width: 266px;
    }
    .middle{
        transform: none;
    }
    .sub2>:nth-child(2){
        margin-top: 0;
    }
}