.container{
    background: #0E0E0E;
    width: 100%;
 
    color: yellowgreen;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    /* padding: 2% 4%; */
}
.dot{
    width: 60px;
    height: 60px;
}
.div2list{
    display: flex;
    justify-content: center;
    gap: 3rem;

}
.div2list>li{
    color: var(--grey-tone-g-5, #808080);
font-family: SansSerif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}
.div2list>:nth-child(1){
    list-style: none;
}

.div3{
    display: flex;
    justify-content: space-between;
    padding: 1% 4%;

}
.div3left{
    display: flex;
    gap: 0.5rem;
    
}
.div3right>:nth-child(1){
    color: var(--grey-tone-g-0, #FFF);
font-family: K2D;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}